/* --- Fondo principal --- */
body {
    min-height: 100vh;
    background:url('../iconos/background.jpg')  no-repeat;
    background-size: cover;
    background-position: center;
}

/* --- Contenedor del formulario --- */
.register-account {
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;
    display: flex;    
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    margin: 100px auto 10px;
}

/* --- Títulos --- */
.register-account h1 {
    font-size: 40px;
    text-align: center;
}

.register-account h2 {
    color: beige;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

/* --- Campos de entrada --- */
.register-account .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-field input::placeholder {
    color: #fff;
}

.input-field i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.register-account .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

/* --- Enlace de inicio de sesión --- */
.register-account .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.login-link p a {
    color: #f8f7f7;
    text-decoration: none;
    font-weight: 700;
}

.login-link p a:hover {
    text-decoration: underline;
}

/* --- Diseño responsive para celulares --- */
@media (max-width: 480px) {
    body {
        padding: 10px;
        background-position: top center;
    }

    .register-account {
        width: 100%;
        padding: 20px;
        border-radius: 8px;
    }

    .register-account h1 {
        font-size: 26px;
    }

    .input-field {
        margin: 20px 0;
        height: 45px;
    }

    .input-field input {
        font-size: 14px;
        padding: 15px 40px 15px 15px;
    }

    .register-account .btn {
        height: 40px;
        font-size: 15px;
    }

    .login-link {
        font-size: 13px;
    }
}