
/* ===========================
   VIDEO DE FONDO
=========================== */
#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
}


/* ===========================
   NAVBAR
=========================== */
.menu {
    width: 100%;
    padding: 15px 30px;
    background: #0e1a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    font-size: 26px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo span {
    color: #f4c542;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 8px 12px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f4c542;
}

/* perfil */
.perfil-container {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.perfil-btn {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.perfil-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #243a63;
    background: url('/iconos/profile.png') center/cover no-repeat;
}

/* ===========================
   CONTENEDOR POMODORO
=========================== */
.video-background-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}


.mute-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
}


.contenedor-pomodoro {
    position: relative;
    background-color: rgba(14, 26, 42, 0.92);
    padding: 40px 30px;
    max-width: 550px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 4px solid rgba(255, 255, 255, 0.06);
    z-index: 5;
}

.contenedor-pomodoro h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #f4c542;
}

#timer {
    font-size: 4.5rem;
    font-weight: bold;
    margin: 10px 0 20px;
}

/* botones */
.botones-pomodoro {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.botones-pomodoro button {
    background-color: #243a63;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.botones-pomodoro button:hover {
    background-color: #f4c542;
    color: black;
    transform: translateY(-3px);
}