.cuerpo {
  text-align: center;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0px 0px 20px;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.contenido {
  position: relative;
  z-index: 2;
  background: rgba(245, 245, 245, 0.95);
  padding: 40px;
  border-radius: 15px;
  overflow: hidden;
}

/* Líneas metálicas visibles */
.contenido::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    110deg,
    rgba(180, 180, 180, 0.35) 0%,
    rgba(180, 180, 180, 0.35) 25%,
    rgba(255, 255, 255, 0.65) 45%,
    rgba(180, 180, 180, 0.35) 65%,
    rgba(180, 180, 180, 0.35) 100%
  );
  background-size: 250% 100%;
  animation: metalMove 14s linear infinite;
  z-index: 1;
  pointer-events: none;
}

/* Texto encima */
.contenido h1,
.contenido h2 {
  position: relative;
  z-index: 2;
}

/* Movimiento lento */
@keyframes metalMove {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}


h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #333;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.card-title {
  color: #00aaff;
  /* azul como en tu imagen */
  font-weight: bold;
  margin-bottom: 15px;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.card-text p {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.card-text ul {
  list-style: none;
  padding-left: 0;
}

.card-text li {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.box-container {
  background-color: aliceblue;
  border-radius: 10px;
}