.cards-container {
  position: relative;
  text-align: center;

}

.cards-container h2 {
  font-size: 30px;
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}


.cards-container .owl-stage-outer {
  padding: 30px 0;
}

.cards-container .owl-nav {
  display: none;
}

.cards-container .owl-dots {
  text-align: center;
}

.cards-container .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}

.cards-container .owl-dots .active {
  box-shadow: 4px solid #000;
}

.cards-container .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}

.cards-container .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}

.cards-container .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}

.cards-container .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}

.cards-container .card h5 span {
  font-size: 18px;
  color: #666;
}

.cards-container .card p {
  font-size: 14px;
  color: #555;
  padding-bottom: 15px;
}

.cards-container .active {
  opacity: 0.5;
  transition: all 0.3s;
}

.cards-container .center {
  opacity: 1;
}

.cards-container .center h5 {
  font-size: 24px;
}

.cards-container .center h5 span {
  font-size: 20px;
}


@media (max-width: 767px) {
  .cards-container {
    margin-top: 20px;
  }
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}

.owl-carousel button.owl-dot {
  outline: 0;
}

li{
  list-style: none;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  line-height: 1.5;
}

img{
  max-width: 300px;
  align-items: center;
  margin: auto;
}
.card_img {
  display: block;
}
.card_txt{
  display: none;
}
