.navbar {
  width: 100%;
  padding: 16px 60px; /* ⬅ más espacio a los lados */
  background: #0e1a2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo span {
  color: #f4c542;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #f4c542;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #243a63;
  cursor: pointer;
}

/* dropdown */
.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background: #0e1a2a;
  border-radius: 10px;
  min-width: 140px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.5);
  overflow: hidden;
  z-index: 100;
}

.dropdown button {
  width: 100%;
  padding: 12px 16px;
  background: none;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

.dropdown button:hover {
  background: #243a63;
}

.dropdown .logout {
  color: #f4c542;
}
