/* FUENTES Y RESETEO */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alexandria", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* BOTONES GLOBALES */
button,
.btn-global {
    background-color: rgb(34, 60, 110);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 120px;
}

button:hover {
    background-color: rgb(45, 77, 136);
    transform: scale(1.03);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}